body {
  font-family: Arial, sans-serif;
  background-color: pink;
  color: #000000;
}

h1 {
  color: #000080;
}

.hero-container {
  display: flex; 
}

.hero-container img {
  border: 1px solid #000000;
  border-radius: 5px;
  width: 200px;
}

h2 {
  color: darkblue;
  background-color: hwb(195 68% 10%);
  padding: 8px;
  margin-top: 20px;
  margin-bottom: 8px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

li {
  color: #006400;
  margin-bottom: 6px;
}

header {
  background-color: #ffffff;
  padding: 16px;
  margin: 16px;
  border: 2px solid #808080;
  position: sticky;
  top: 0;
}

main {
  background-color: #ffffff;
  padding: 16px;
  margin: 20px auto;
  width: 80%;
  border: 2px solid #808080;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 16px;
}

.education-items li:first-child {
  font-weight: 600;
}

a {
  color: #0000ff;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
}

footer {
  text-align: centre;
  margin-top: 20px;
}

.highlight {
  background-color: #ffffe0;
  border: 2px solid #006400;
  padding: 10px;
}

.contact-bar {
  display: flex;
  justify-content: center; /* Centres links horizontally */
  gap: 40px;               /* Adds space between the links */
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 8px;
}
